<H1>Cursed Text Checker</H1>
<p>Ever come across a string of text on the internet that just feels completely unhinged? You hear these words and think "are these words in the bible??" This application allows you to check if it is! Enter the text in question below and see if any instances of them pop up in the bible.</p>

<form method="POST">
    <label for="textcheck">Input text to check here: </label><br>
    <input type="text" id="textcheck" name="textcheck"><br>
    <input type="submit" value="Submit">
</form>